APP_NAME=ai-chat-bot
HOSTNAME=localhost
FRONTEND_HOST=http://localhost:3000

# Node environment: development, production, test
NODE_ENV=development

# Backend 
SECRET_KEY="SECRET_KEY"
DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"

# AI
OPENAI_API_KEY=
